<div class="podcast element-teaser">
  #if($content.imageId)
    #set($m.stack.imageFormat = "3x2")
    <div class="image">
      #renderwithfallback({"content": $!content.imageId})
      #end
    </div>
  #end
  <h2>$!content.name</h2>
  <p>$!content.text.value</p>

  <p>&nbsp;</p>

  <p>
    <ul class="media-list">
    #foreach ($item in $content.feeds.elements)
      #render({"content": $item.feed.contentId, "params": {
        "title": $item.title.value,
        "max": $item.numberOfItems.value,
        "from": $item.startFrom.value,
        "index": $foreach.count,
        "tag": "li"
      }})
    #end
    </ul>
  </p>

</div>
